<table class="table" *ngIf="employees1">
  <tr>
    <td>Name</td>
    <td>{{employees1.name}}</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>{{employees1.age}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{employees1.status}}</td>
  </tr>
  <tr>
    <td>Created At</td>
    <td>{{employees1.createAt}}</td>
  </tr>
</table>
<a class="btn btn-primary" [routerLink]="['overview']">Overview</a>
<a class="btn btn-danger" [routerLink]="['projects']">Projects</a>
<a class="btn btn-warning" [routerLink]="['/employees']">Employees</a>
<router-outlet></router-outlet>