<form class="table" #f="ngForm" (ngSubmit)="SaveForm(f.value)" *ngIf="employees2">
  <tr>
    <td>Name</td>
    <td><input type="text" name="name" [(ngModel)]="emoloyee2.name"/></td>
  </tr>
  <tr>
    <td>Age</td>
    <td><input type="text" name="age" [(ngModel)]="emoloyee2.age"/></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><input type="text" name="status" [(ngModel)]="emoloyee2.status"/></td>
  </tr>
  <tr>
    <td colspan="2">
      <button type="submit">Save</button>
      <button type="button">Cancel</button>
    </td>
  </tr>
</form>